<!DOCTYPE html>
<html>
  <head>
    <title> Formulaire dajout dun tournoi</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
   <!-- <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>-->
<h1>Bonjour, bienvenue dans l'application MyPlayOff veuillez cliquer sur le bouton pour commencer a organiser votre tournoi</h1>
   <a href="competition/new.ejs"><button>Go</button></a>
  </body>
</html>
