<!DOCTYPE html>
<html>
  <head>
    <title> Formulaire dajout dun tournoi</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" crossorigin="anonymous">
  </head>
  <body class="d-flex flex-column">
   <!-- <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>-->
<!--<h1>Bonjour, bienvenue dans l'application MyPlayOff veuillez cliquer sur le bouton pour commencer a organiser votre tournoi</h1>-->
   <!-- Full Page Image Header with Vertically Centered Content -->
   <header class="masthead">
       <div class="container h-100">
           <div class="row h-100 align-items-center">
               <div class="col-12 text-center">
                   <h1 class="font-weight-bold">MyPlayOff</h1>
                   <p class="lead">Bonjour, bienvenue dans l'application MyPlayOff veuillez cliquer sur le bouton pour commencer à organiser votre tournoi</p>
                   <a href="competition/new"><button class="btn btn-success btn-lg">Lancer une compétition</button></a>
               </div>
           </div>
       </div>
   </header>
   <!--<a href="competition/new"><button class="btn btn-primary">Go</button></a>-->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.5/require.min.js"></script>
   <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" crossorigin="anonymous"></script>
  </body>
</html>
