<title>Tournois</title>

<h1>Tournois en cours</h1>

<% if(tournoi.length === 0) {%>
    Pas de tournois en cours
  <% } else { %>
    <ul>
        <% tournoi.forEach(tournois => { %>
            <li>
                <%= tournois.name%> est en cours <a href="/bracket/<%= tournois.id%>">Rejoindre</a>
            </li>
        <% })} %>
    </ul>