<title>Compétitions</title>

<h1>Historique des compétitions</h1>

<% if(competitions.length === 0 ) {%>
    Pas de competitions en cours
  <% } else { %>
    <h2>Compétitions en cours</h2>
    <ul>
        <% competitions.forEach(competition => { %>
            <%if(competition.status){%>
            <li>
                <%= competition.name%> est en cours <a href="/competition/<%= competition.id%>">Rejoindre</a>
            </li>
            <% } %>
        <% }) %>
    </ul>

    <h2>Compétitions finies</h2>

    <ul>
        <% competitions.forEach(competition => { %>
            <%if(!competition.status){%>
            <li>
                <%= competition.name%> est terminée <a href="/competition/<%= competition.id%>">Voir les résultats</a>
            </li>
            <% } %>
        <% }) %>
    </ul>

<% } %>