<!DOCTYPE html>
<html>
    <head>
        <title>Compétitions</title>
        <link rel='stylesheet' href='/stylesheets/styleHistorique.css'/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" crossorigin="anonymous">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    </head>
    <body class="d-flex flex-column" style="background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080');">
    <a href="/"><button id="fa-arrow" class="btn btn-lg"><i class="fa fa-arrow-left" aria-hidden="true"></i></button></a>
        <div class="container" id="div1">
            <h1>Historique des compétitions</h1>

            <% if(competitions.length === 0 ) {%>
                Pas de competitions en cours
            <% } else { %>
                <h2>Compétitions en cours</h2>
                <ul>
                    <% competitions.forEach(competition => { %>
                    <%if(competition.status){%>
                        <li>
                            <%= competition.name%> est en cours <a href="/competition/<%= competition.id%>"><button id="btn-historique" class="btn btn-lg">Rejoindre</button></a>
                        </li>
                    <% } %>
                    <% }) %>
                </ul>
        </div>

        <div class="container" id="div2">
            <h2>Compétitions finies</h2>

            <ul>
                <% competitions.forEach(competition => { %>
                <%if(!competition.status){%>
                    <li>
                        <%= competition.name%> est terminée <a href="/competition/<%= competition.id%>"><button id="btn-historique" class="btn btn-lg">Voir les résultats</button></a>
                    </li>
                <% } %>
                <% }) %>
            </ul>
        </div>

        <% } %>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" crossorigin="anonymous"></script>
    </body>
</html>
