<form>
    <div>
        <label>Organisateur</label>
        <input type="text" id="organisation" required>
    </div>
    <div>
        <label>Nom de la compétition</label>
        <input type="text" id="nom_competition" required>
    </div>
    <div>
        <label>nombre dequipe</label>
        <input type="number" min="2" max="2" id="numberEquipe" required>
    </div>
    <div>
        <input type="submit" value="OK">
    </div>
</form>