<ul class="matchup">
    <li class="team team-top"><%= match.player1.name %><span class="score"><%= match.score1 %></span></li>
    <li class="team team-bottom"><%= match.player2.name %><span class="score"><%= match.score2 %></span></li>
</ul>