<ul class="matchup">
    <li class="team team-top">competition.Matches[i].player1.Name<span class="score">competition.Matches[i].score1</span></li>
    <li class="team team-bottom">competition.Matches[i].player2.Name<span class="score">competition.Matches[i].score2</span></li>
</ul>