<ul class="matchup">
    <li class="team team-top"><% if(match.p1 != null) { %> <%= match.player1.name %> <% } %><span class="score"><%= match.score1 %></span></li>
    <li class="team team-bottom"><% if(match.p2 != null) { %> <%= match.player2.name %> <% } %><span class="score"><%= match.score2 %></span></li>
</ul>