<% var tabIntToText = ['','one','two','three','four'] %>
<% var roundText = tabIntToText[nbroundActual] %>

<div class="round round-<%=roundText%>" >
    <div class="round-details">Round <%=nbroundActual%><br/></span>
    </div>