<% var tabIntToText = ['','one','two','three'] %>
<% var roundText = tabIntToText[nbroundActual] %>

<div class="round round-<%=roundText%>" >
    <div class="round-details">Round <%=nbroundActual%><br/><span class="date">March 16</span>
    </div>